:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    font-family: Nanum Myeongjo, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-color: #D2CECB;
    
    @media screen and (min-width: 768px) {
        height: 100vh;
    }
}

header {
    flex-basis: 80px;
    background-color:#D2CECB;
}

.logo img {
    height: 3.3em;
    position: absolute;
    top: 1.1em;
    left: 1.4em;
    cursor: pointer;
}


.social-icons {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    position: absolute;
    bottom: 2.5em;
    left: 1.8em;
}

.social-icons img {
    width: 1.5em;
}

nav {
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    transition: all 0.3s;
    height: 100vh;
    z-index: 1000;

    @media screen and (min-width: 768px) {
        flex-direction: row; 
        width: 80px; 
        height: 100vh;
    }

    &.secondary {
        background-color: darkblue;
    }

    a {
        width: 60px; 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        transition: background-color 0.3s ease;
        box-sizing: border-box;
        font-size: 1.2em;
        height: 100vh;

        @media screen and (min-width: 768px) {
            border-left: solid 0.05em black;
            border-right: solid 0.05em black; 
        }

        @media screen and (max-width: 768px) {
            border-top: solid 0.05em black;
            border-bottom: solid 0.05em black;
        }

        &.home {
            background-color: #9E9E96;
        }
        &.work {
            background-color: #A29200;
        }
        &.about {
            background-color: #E2DCC6;
        }
        &.contact {
            background-color: #8CACC2;
        }

        @media screen and (min-width: 768px) {
            span {
                transform: rotate(90deg);
                display: inline-block;
            }
        }

        &:hover {
            opacity: 0.8;
        }
        &:hover {
            opacity: 0.8; 
        }
    }
}

main {
    background-color: transparent;

    @media screen and (min-width: 768px) {
        flex: 1;
    }
}

.main-content {
    position: absolute;
    left: 240px;
    right: 160px;
    transition: right 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100vh;
}

.proj3-header-line1 {
    position: relative;
    top: 12vh;
    width: 100vw;
    border-bottom: solid 0.1em black;
}

.proj3-title {
    font-size: 4em;
    display: flex;
    position: relative;
    top: 14vh;
    left: 1em;
    line-height: 1.2;
    letter-spacing: 0.6rem;
}

.proj3-header-line2 {
    position: relative;
    top: 16vh;
    width: 100vw;
    border-bottom: solid 0.1em black;
}

.proj3-subtitle {
    font-size: 1.5em;
    display: flex;
    position: relative;
    top: 18vh;
    left: 2.8em;
    line-height: 1.6;
    letter-spacing: 0.6rem;
    color: #8CACC2; 
}

.proj3-header-line3 {
    position: relative;
    display: flex;
    top: 24vh;
    width: 100%;
    border-bottom: solid 0.1em black;
    z-index: 1;
}

.proj3-img1 {
    position: relative;
    top: 24vh;
    display: flex;
    width: 90%;
}

.p3-para1t {
    position: relative;
    top: 20vh;
    left: 40vh;
    display: flex;
    font-size: 4em;
    font-style: italic;
    color: #A44A0C;
}

.p3-para1p {
    position: relative;
    top: 21vh;
    left: 50em;
    width: 84rem;
    display: flex;
    font-size: 1.6rem;
    line-height: 2;
    color: black;
    z-index: 10;
}

.proj3-header-line4 {
    position: relative;
    display: flex;
    top: 26vh;
    width: 100%;
    border-bottom: solid 0.1em black;
    z-index: 1;
}

.proj3-img2 {
    position: relative;
    top: 26vh;
    display: flex;
    width: 100%;
}

.p3-para2t {
    position: relative;
    top: 14vh;
    left: 90vh;
    display: flex;
    font-size: 4em;
    font-style: italic;
    color: #A44A0C;
}

.p3-para2p {
    position: relative;
    top: 16vh;
    left: 50vh;
    width: 76rem;
    display: flex;
    font-size: 1.6rem;
    line-height: 2;
    color: black;
}

.proj3-header-line5 {
    position: relative;
    display: flex;
    top: 22vh;
    width: 100%;
    border-bottom: solid 0.1em black;
    z-index: 1;
}

.proj3-img3 {
    position: relative;
    top: 22vh;
    display: flex;
    width: 85%;
    float: right;
}

.p3-para3t {
    position: relative;
    top: 74vh;
    left: 2em;
    display: flex;
    font-size: 4em;
    font-style: italic;
    color: #A44A0C;
}

.p3-para3p {
    position: relative;
    top: 26vh;
    left: 38em;
    width: 80rem;
    display: flex;
    font-size: 1.6rem;
    line-height: 2;
    color: black;
}

.proj3-header-line6 {
    position: relative;
    display: flex;
    top: 34vh;
    width: 100%;
    border-bottom: solid 0.1em black;
    z-index: 1;
}

.p3-click {
    position: relative;
    top: 40vh;
    float: right;
    padding-right: 10rem;
    padding-bottom: 10rem;
    font-size: 2.6rem;
    line-height: 2;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.click-arrow {
    height: 6rem; 
    margin-left: 1rem; 
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-para {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in-para.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    body {
        flex-direction: column; 
    }

   main {
        flex: 1;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: auto; 
        height: calc(100vh - 60px); 
        padding-bottom: 60px; 
    }

    .main-content {
        position: relative;
        width: 100vw;
        left: 0;
        padding-top: 10px; 
        overflow-y: auto; 
        background-color: #D2CECB;
    }
    
    nav.primary {
        position: fixed;
        top: 60px;
        width: 100vw;
        height: auto;
        flex-direction: column; 
    }

    nav.secondary {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw; 
        height: auto;
        flex-direction: row; 
    }

    nav.expanded {
        bottom: auto;
        top: 80px;
        height: calc(100% - 60px);
        flex-direction: column; 
    }

    nav a {
        width: 100%;
        height: 60px; 
    }

    .social-icons {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    gap: 1.2em;
    top: 3em;
    right: 2.5em;
    }

    .social-icons img {
    width: 2.4rem;
    }

.proj3-header-line1 {
    position: relative;
    top: 12vh;
    width: 100vw;
    border-bottom: solid 0.1em black;
}

.proj3-img1 {
    position: relative;
    top: 24vh;
    display: flex;
    width: 100%;
}

.p3-para1t {
    position: relative;
    top: 22vh;
    left: 10vh;
    display: flex;
    font-size: 3em;
    font-style: italic;
    color: #A44A0C;
}

.p3-para1p {
    position: relative;
    top: 22vh;
    left: 14em;
    width: 70rem;
    display: flex;
    font-size: 1.6rem;
    line-height: 2;
    color: black;
    z-index: 10;
}

.proj3-header-line4 {
    position: relative;
    display: flex;
    top: 26vh;
    width: 100%;
    border-bottom: solid 0.1em black;
    z-index: 1;
}

.proj3-img2 {
    position: relative;
    top: 26vh;
    display: flex;
    width: 100%;
}

.p3-para2t {
    position: relative;
    top: 28vh;
    left: 46vh;
    display: flex;
    font-size: 3em;
    font-style: italic;
    color: #A44A0C;
}

.p3-para2p {
    position: relative;
    top: 15vh;
    left: 10vh;
    width: 70rem;
    display: flex;
    font-size: 1.6rem;
    line-height: 2;
    color: black;
}

.proj3-header-line5 {
    position: relative;
    display: flex;
    top: 22vh;
    width: 100%;
    border-bottom: solid 0.1em black;
    z-index: 1;
}

.proj3-img3 {
    position: relative;
    top: 22vh;
    display: flex;
    width: 100%;
    float: right;
}

.p3-para3t {
    position: relative;
    top: 54vh;
    left: 2em;
    display: flex;
    font-size: 3em;
    font-style: italic;
    color: #A44A0C;
}

.p3-para3p {
    position: relative;
    top: 26vh;
    left: 18em;
    width: 60rem;
    display: flex;
    font-size: 1.6rem;
    line-height: 2;
    color: black;
}

.proj3-header-line6 {
    position: relative;
    display: flex;
    top: 34vh;
    width: 100%;
    border-bottom: solid 0.1em black;
    z-index: 1;
}

.p3-click {
    position: relative;
    top: 40vh;
    float: right;
    padding-right: 10rem;
    padding-bottom: 10rem;
    font-size: 2.6rem;
    line-height: 2;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.click-arrow {
    height: 6rem; 
    margin-left: 1rem; 
}
}